.inner {
  background-color: #ed3833;
  .page {
    background-color: black;
  }
  .slide {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ed3833;
    width: 100vw;
    height: 100vh;
    z-index: 3;
  }
}

